/*-----------------------------*/
/*   Color palette
/*
/*   http://chir.ag/projects/name-that-color/
/*-----------------------------*/
$white: #FFFFFF;
$silver: #bfbfbf;
$danube: #5B9BD5;
$link-water: #deebf7;
$nepal: #7f9fbd;
$smalt-blue: #577189;
$dove-gray: #767171;
$scorpion: #5e5a5a;

/*-----------------------------*/
/** Screen resolutions
/*-----------------------------*/
$mobile-screen: 375px;
$standard-screen: 1200px;
$wide-screen: 1920px;